:root {
    --text-color: white;
    --accent1: #B4381F;
    --accent2: #5D5F53;
    --accent3: #DF8922;
    --accent4: #D02607;
    --accent5: #363338;
}

body {
    background-color: var(--accent2);
}

header {
    background-color: var(--accent5);
    width: 100%;
    height: auto;
}

nav {
    display: flex;
    padding: 15px;
}

nav a {
    color: var(--text-color);
    text-decoration: none;
    background-color: var(--accent1);
    padding: 20px;
    border: solid var(--accent5);
}

p, h1, h2 {
    color: var(--text-color);
}

.banner {
    display: flex;
    justify-content: space-around;
}

.banner-text {
    display: flex;
    flex-direction: column;
}

.banner-text h1 {
    justify-self: center;
}

.banner img {
    width: 600px;
    height: auto;
}

footer {
    background-color: var(--accent5);
    display: flex;
}

footer a, p {
    padding: 10px;
}